<!DOCTYPE html>
<html>
    <head>
        <title>RemindMe</title>
        <link rel="stylesheet" href={{ url_for('static', filename='resources/CSS/main.css') }} />
        <link rel="stylesheet" href={{ url_for('static', filename='resources/CSS/odometer-theme-default.css') }} />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <article id="first-page">
            <h1>Need a Reminder? Look no Further.</h1>
            <form id="main-form" name="main-form">
                <section id="main-message">
                    <p id="message-title">Message</p>
                    <textarea id="message" name="reminder-message"></textarea>
                </section>
            </form>
            <section id="main-method">
                <p id="method-header">Method</p>
                <form id="method-check">
                    <section id="whole-browser">
                        <input type="radio" id="browser" class="method" name="method-select">
                        <label for="browser">Browser Notification</label>
                    </section>
                    <section id="whole-email">
                        <input type="radio" id="email" class="method" name="method-select">
                        <label for="email">E-Mail</label>
                    </section>
                    <section id="whole-sms">
                        <input type="radio" id="sms" class="method" name="method-select">
                        <label for="sms">Text Message</label>
                    </section>
                    <section id="whole-phone">
                        <input type="radio" id="phone" class="method" name="method-select">
                        <label for="phone">Phone Call</label>  
                    </section>
                    <section id="whole-mail">
                        <input type="radio" id="mail" class="method" name="method-select" disabled>
                        <label for="mail" class="disabled">Mail</label>
                    </section>
                </form>
            </section>
            <button type="button" id="continue" class="reminder-button">Continue</button>
        </article>
        <article id="second-page">
            <p id="time">
                I want to be reminded in 
                <input type="number" id="minutes" min="0"> 
                <span id="min-word">minutes</span>
                and 
                <input type="number" id="seconds" min="0"> 
                <span id="sec-word">seconds.</span>
            </p>
            <button type="button" id="submit-browser" class="reminder-button">Set Reminder</button>
        </article>
        <article id="third-page">
            <h1 id="browser-phrase">Placeholder</h1>
            <section id="countdown-main">
                <p id="countdown-title">Time Left</p>
                <p id="countdown">
                    <span id="countdown-min" class="odometer">0</span>
                    :
                    <span id="countdown-sec" class="odometer">0</span>
                </p> 
            </section>
        </article>
        <article id="fourth-page">
            <h1 id="times-up">Times up!</h1>
            <p id ="reminder-outro">This is your reminder to</p>
            <p id="user-message">Placeholder</p>
            <a type="button" id="reset" class="reminder-button" href="#fourth-page">Set Another Reminder</a>
            <audio id="alarm">
                <source src="resources/Audio/alarm_sound.mp3" type="audio/mp3">
            </audio>
        </article>
        <article id="fifth-page">
            <form id="main-email">
                <label for="email-input" id="email-label"> E-Mail Address</label>
                <input type="email" id="email-input" name="email-input">
            </form>
            <button type="submit" id="submit-email" class="reminder-button" form="main-form">Set Reminder</button>
        </article>
        <article id="sixth-page">
            <form id="main-mobile">
                <label for="mobile-input" id="mobile-label"> Phone Number</label>
                <input type="tel" id="mobile-input" name="mobile-input" placeholder="1234567890">
            </form>
            <button type="submit" id="submit-mobile" class="reminder-button" form="main-form">Set Reminder</button>
        </article>
        <article id="seventh-page">
            <h1 id="other-phrase">Placeholder</h1>
            <p class="tab-warning">WARNING: You must leave this tab open until you receive your reminder!
                                   (This will be fixed in future updates)
            </p>    
        </article>
    </body>
</html>
<script src={{ url_for('static', filename='resources/JS/main.js') }}></script>
<script src={{ url_for('static', filename='resources/JS/odometer.js') }}></script>
